<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>The films</title>
    <link rel="shortcut icon" href="https://img.icons8.com/fluency/48/000000/movie.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='playfilm.css')}}">
</head>

<body>
    <div class="div_header">
        <header class="title">
            <h1>Mastercode Films</h1>
        </header>
    </div>
    <div>
        <p>{{posts}}</p>
        
    </div>
    <script src="" async defer></script>
</body>

</html>